.line.active {
  background-color: #e4f2ff;
}

.token-keyword {
  color: #8959a8;
}

.token-number {
  color: #f5871f;
}

.token-string {
  color: #718c00;
}

.token-flag {
  color: #eab700;
}

.token-reference {
  color: #3e999f;
  cursor: pointer;
}

.token-reference:hover {
  text-decoration: underline;
}

.token-sign {
  color: #4271ae;
}

.token-separator {
  color: #8e908c;
}

#token-unknown {
  color: #4d4d4c;
}
